
           
          <div class="form-container">
            <p>Please contact me and I will get back to you as soon as possible with  a quick message</p>
                
                <form id="my-contact-form" action="https://formspree.io/howard@bylucas.co.uk" method="post">

        <div class="md-div">
    <label for="name" class="md-label">NAME<span>*</span></label>
    <input type="text" class="md-input" name="message_name" value="" required>
  </div>
  
   <div class="md-div">
    <label for="email" class="md-label">EMAIL<span>*</span></label>
    <input type="text" class="md-input" name="message_email" value="" required>
  </div>       
         
         <div class="md-div">
    <label for="message" class="md-label">MESSAGE<span>*</span></label>
    <textarea type="text" class="md-input" name="message_text" value="" required></textarea>
  </div>
<div class="button-box">
            <input type="hidden" name="submitted" value="">
           <button>Send Message</button>
</div>
                </form>

              </div>

