<div id="offcanvas-menu" class="fullscreen-overlay">
                
              
            {{> "menu"}}
       
                
              </div>

               <div id="search-menu" class="fullscreen-overlay">
       
                <div class="search-inner">
    <div class="container">
        <form role="search" method="get" id="searchform" class="searchform" action="">
            <div>
                <label for="s">Search howardlucas.io...</label>
                <input type="text" id="search-field" name="s" autocomplete="off" placeholder="" />

                <input type="submit" id="searchsubmit" value="search" />
                
            </div>
        </form>
       
    </div>
</div>

                 <div id="search-results">
            
            
        </div>
              </div><!-- fullscreen-overlay -->
