 <form>
        <input id="search-field" />
        <input type="submit" value="search">
        <input type="button" value="clear" onclick="clearResults();" />
      </form>

                 <div id="search-results">
            
            
        </div>
             
