// contact
// ----------------------------------------------------------

.form-container {
 
  margin: $spacer;
  background: rgba(55, 55, 55, .4);
  padding: 0 $spacer;
  border: $midgrey 1px solid;
  border-radius: 7px;
  max-width: 400px;

  h3 {
    font-size: 2.4rem;
    text-align: center;
  }

  p {
    width: 95%;
    margin: $spacer/4 auto $spacer/2 auto;

    a {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 500px) {
  .form-container {
 margin: $spacer/2 $spacer/2 $spacer $spacer/2;
 padding: $spacer/2 $spacer/2 $spacer $spacer/2;
}
  }

  .bigger,
  .andbigger {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.6;
  }

  .andbigger {
    font-size: 2rem;
  }
